/**** GLOBAL STYLES ****/

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
	box-sizing: border-box;
	margin: auto;
	padding: 0;
}

:root {
	--Pale-blue: hsl(225, 100%, 94%);
	--Bright-blue: hsl(245, 75%, 52%);
	--Very-pale-blue: hsl(225, 100%, 98%);
	--Desaturated-blue: hsl(224, 23%, 55%);
	--Dark-blue: hsl(223, 47%, 23%);
}

html {
	background-image: url("../img/pattern-background-mobile.svg");
	background-position: top;
	background-repeat: no-repeat;
	background-size:100% 70%; 
	background-color: var(--Pale-blue);
	
}

body {
	font-family: 'Red Hat Display', sans-serif;
	color: var(--Dark-blue);
}

p {
	font-size: 16px;
}

/**** MOBILE FIRST STYLES ****/
main {
	margin-top:20px;
	margin-bottom: 15px;
	width: 80%;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 10px 40px  1px var(--Desaturated-blue);
}


div {
	text-align: center;
	
}

.image img {
	width: 100%;
	border-radius:15px 15px 0 0;
}

.summary{
	width: 90%;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

.plan-container {
	width: 90%;
	padding:20px 0 20px 0;
	margin-bottom: 30px;
	display: flex;
	background-color: var(--Very-pale-blue);
	border-radius: 15px;
}

.annual-plan {
	font-weight: 900;
}

.price {
	padding-top: 5px;
	color: var(--Desaturated-blue);
}

.change {
	font-weight: 800;
}

.button-container-pay {
	width: 90%;
	padding-bottom: 10px;
	margin-bottom: 10px;
		
}
.payment {
	width: 100%;
	height: 60px;
	background-color:var(--Bright-blue);
	border:hidden;
	font-weight: 900;
	box-shadow: 0px 15px 10px  var(--Desaturated-blue);
	color: white;
	border-radius: 15px;
	cursor:pointer;
	
}

.payment:hover {
	background-color: #3e8e41;
}

.payment:active{
	transform: translateY(4px);
}

.button-container-cancel {
	width: 90%;

}

.cancel {
	width: 100%;
	height: 50px;
	background: none;
	border:hidden;
	margin-bottom: 15px;
	font-weight: 900;
	color: var(--Desaturated-blue);
	
}

.cancel:hover {
	color: red;
}


/**** MEDIA QEURIES ****/
@media only screen and (min-width: 768px) {
	/*Tablet styles */
	body {
		font-size: 1.25em;
		padding: 90px 0;
	}
	
	p {
		font-size:1.15em;
	}
	
	main {
		width: 60%;
		
	}
	
	.summary {
		width: 80%;
	}
	
	.plan-container {
		width: 80%;
	}
	
	.button-container-pay {
		width: 80%;
	}
	
}

@media only screen and (min-width: 1200px) {
	/*Desktop styles */
	
	body {
		padding: 30px 0;
	}
	
	main {
		width: 40%;
	}
	
}
